<a href="https://colab.research.google.com/github/Wiktor-Brzezinski/python-basics/blob/main/Copy_of_Fix_Broken_Code_2(fixed).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FIX BROKEN CODE EX -2

What's wrong with this code ? : i coverted the integer to a string so the code would work

In [3]:
def calculate_area (width, height):
    area = width * height;
    s =str(area)
    return "The area is: " + s

print(calculate_area(5, 3))
# should output 15

The area is: 15

What's wrong with this code ? : This code was alreaddy correct

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)
        print("Calculating factorial...")

print(factorial(5))
# should output 120

120

What's wrong with this code ? : I added [ ] to i on the third line

In [ ]:
items = ["apple", "banana", "cherry"]
for i in range(len(items)):
  print(items[i])
# should output :
  # apple
  # banana
  # cherry

apple
banana
cherry

What's wrong with this code ? : I added { } on line 3 and moved some " around

In [ ]:
name = "Alice"
age = 25
print({"Name: ":"" "Alice", "Age":  25})
# should output : Name: Alice, Age: 25

{'Name: ': 'Alice', 'Age': 25}

What's wrong with this code ? : i removed a ] i also added append and corrected spelling mistakes. I changed / to % and removed -1 and +1 from i

In [64]:

# This function has multiple issues but is easier to debug.
def process_data(data_list):
    result = []
    for i in range(len(data_list)):
        if data_list[i] % 2 == 0:
            result.append("Even: " + str(data_list[i]))
        else:
              result.append("Odd: " + str(data_list[i]))

    return result

data = [1, 2, 3, 4, 5]
print(process_data(data))

# Expected Output (if errors are fixed):
# ['Odd: 1', 'Even: 2', 'Odd: 3', 'Even: 4', 'Odd: 5']

['Odd: 1', 'Even: 2', 'Odd: 3', 'Even: 4', 'Odd: 5']

What's wrong with this code ? : I added " " to john and returned the function

In [ ]:
def greet(name):
    return 'Hello, ', name

print(greet("John"))


# should output : Hello, John

('Hello, ', 'John')

What's wrong with this code ? : I added " " to quantity and added another price I also converted a float to a string

In [12]:
# This function processes customer orders and calculates discounts
def process_orders(orders):
    total_price = 0
    for order in orders:
        if "price" in order and "quantity" in order:
           total_price += order["price"] * order["quantity"]
        else:
            print("Invalid order: " + order)

    discount = 0.1 if total_price > 100 else 0.05
    final_price = total_price - total_price * discount
    return "Total after discount: " + str(final_price)

orders = [
    {"item": "Laptop", "price": 900, "quantity": 1},
    {"item": "Mouse", "price": 25, "quantity": 2},
    {"item": "Keyboard", "price": 50, "quantity": 1},
    {"item": "Monitor",'price': 30, "quantity": 1}
]

print(process_orders(orders))

# Expected Output (if errors are fixed):
# 'Total after discount: 927.0'

Total after discount: 927.0