<a href="https://colab.research.google.com/github/Wiktor-Brzezinski/python-basics/blob/main/Math_Ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MATH PYTHON EXERCISE 1

1. Import math correctly

In [ ]:
import math

2. Convert 90 degrees to radians and print it

In [ ]:
angle = 90
radians = math.radians(angle)
print(radians)

1.5707963267948966

3. Calculate sin 70, cos 70, tan 70

In [ ]:
angle = 70
radians = math.radians(angle)
print(radians)

print("sin = ", math.sin(radians))
print("cos = ", math.cos(radians))
print("tan = ", math.tan(radians))

1.2217304763960306
sin =  0.9396926207859083
cos =  0.3420201433256688
tan =  2.7474774194546216

4. Calculate sin inverse (0.9396926207859083) cos inverse (0.342020143325668) and tan inverse (2.747477419454621)

In [ ]:
print("sin inverse = ", math.asin(0.9396926207859083))
print("cos inverse = ", math.acos(0.342020143325668))
print("tan inverse = ", math.atan(2.747477419454621))

print("sin degrees = ", math.degrees(1.2217304763960306))
print("cos degrees = ", math.degrees(1.2217304763960306))
print("tan degrees = ", math.degrees(1.2217304763960306))

sin inverse =  1.2217304763960306
cos inverse =  1.2217304763960315
tan inverse =  1.2217304763960306
sin degrees =  70.0
cos degrees =  70.0
tan degrees =  70.0

5. Calculat the area of a circle with radius 7

In [ ]:
math.pi *7**2

153.93804002589985

6.Calculate the circumference of a circle with radius 7

In [ ]:
2*math.pi*7

43.982297150257104

7. Find the cube root of 343 using the math.pow() function

In [ ]:
math.pow(343, 1/3)

6.999999999999999

8. Calculate the floor and ceil of 7.83.

In [ ]:
floor_value = math.floor(7.83)

ceil_value = math.ceil(7.83)
print("ceil is:", ceil_value)
print("floor value is:", floor_value)

ceil is: 8
floor value is: 7

9. Verify identity of (sin45)^2 + (cos45)^2 is approximately equal to 1

In [ ]:
math.sin(45)**2 + math.cos(45)**2

1.0

10. An object is dropped from a height of 78.4 meters.
How long will it take to hit the ground?
(Use the formula: t = √2h/g , g = 9.8

In [ ]:
math.sqrt(2*78.4) / 9.8

1.2777531299998797

11. Area of an Equilateral Triangle
Given the side length of an equilateral triangle is 6 units, calculate its area.
Use the formula: Area = √(3/4) * (side)^2

In [ ]:
side= 6

area = math.sqrt(3/4)*math.pow(side,2)

print(area)

31.17691453623979